@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.imagebox {
  position: relative;
}

.shareIcon {
  position: absolute;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  margin: -15px;
}

.shareIcon i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: relative;
  border-radius: 100px;
  color: white;
  background-color: #ff944d;
}

.shareIcon:hover .main > i {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transform: rotateZ(720deg);
          transform: rotateZ(720deg);
}

.shareIcon:hover .fb > i {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.shareIcon:hover .twit > i {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.shareIcon:hover a:not(.main) {
  visibility: visible;
}

.shareIcon a:not(.main) {
  visibility: hidden;
}

.container {
  width: 100%;
  height: auto;
  background-color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*="col-"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-bottom: 20px;
}

.heading {
  margin-top: 10px;
  padding: 5px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.heading a {
  text-decoration: none;
  color: #000066;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.subject {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #3c3b37;
}

.details {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.details i {
  font-size: 10px;
  margin-right: 5px;
}

.detail1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.detail2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.detail3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.button {
  text-decoration: none;
  font-size: 10px;
  background-color: white;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  border-radius: 28px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 0) {
  .col-sm-1 {
    padding: 0 15px;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-2 {
    padding: 0 15px;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-3 {
    padding: 0 15px;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-4 {
    padding: 0 15px;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-5 {
    padding: 0 15px;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-6 {
    padding: 0 15px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-7 {
    padding: 0 15px;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-8 {
    padding: 0 15px;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-9 {
    padding: 0 15px;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-10 {
    padding: 0 15px;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-11 {
    padding: 0 15px;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
    text-align: center;
  }
}

@media (min-width: 0) {
  .col-sm-12 {
    padding: 0 15px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    padding: 0 15px;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    padding: 0 15px;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    padding: 0 15px;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    padding: 0 15px;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    padding: 0 15px;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    padding: 0 15px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    padding: 0 15px;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    padding: 0 15px;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    padding: 0 15px;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    padding: 0 15px;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    padding: 0 15px;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    padding: 0 15px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 15px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
  }
}
/*# sourceMappingURL=course.css.map */